@model KT100720_59130033.Models.TAISAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var xuatxu = "";
}

<h3>Bạn có chắc chắn xóa thông tin này?</h3>
<table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                <tr>
                    <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.AnhMH)" width="100" height="100" /></td>
                    <td>Mã tài sản:</td>
                    <td>@Html.DisplayFor(model => model.MaTS)</td>
                </tr>
                <tr>
                    <td>Tên tài sản:</td>
                    <td>@Html.DisplayFor(model => model.TenTS)</td>
                </tr>

                <tr>
                    <td>Đơn vị tính:</td>
                    <td>@Html.DisplayFor(model => model.DVT)</td>
                </tr>

                <tr>
                    <td>Xuất xứ:</td>
                    <td>
                        @{if (Model.XuatXu == true)
                            { xuatxu = "Trong nước"; }
                            else
                            { xuatxu = "Ngoại nhập"; }
                        }
                        @xuatxu
                    </td>
                </tr>

                <tr>
                    <td>Đơn giá:</td>
                    <td>@Html.DisplayFor(model => model.DonGia)</td>
                </tr>

                <tr>
                    <td>Loại tài sản:</td>
                    <td>@Html.DisplayFor(model => model.LOAIT.TenLTS)</td>
                </tr>

                <tr>
                    <td>Ghi chú:</td>
                    <td>@Html.DisplayFor(model => model.GhiChu)</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-default" /> |
    </div>
}
